.slideshowContainer {
    padding: 2rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65vh;
    width: 100vw;
}

.moviePoster {
    border-radius: 10px;
    margin-bottom: 0.75rem;
    width: 60%;
    height: 430px;
    z-index: 999;
}

.movieName {
    margin-bottom: 0.75rem;
    letter-spacing: 1px;
    letter-spacing: 1.5px;
    color: #FFF;  
    z-index: 999;
}

.movieInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movieLine  {
    display: none;
}

.buyNow {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    color: #FFF;
    background-color: #3298DA;
    letter-spacing: 1.2px;
    z-index: 999;
}

.opaqueBackground {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.1;
    width: 100%;
}

@media screen and (min-width: 750px) {
    .slideshowContainer {
        padding: 2rem;
        flex-direction: row;
    }

    .moviePoster {
        width: 40%;
    }

    .movieInfo {
        align-items: flex-start;
        height: 430px;
        margin-left: 1rem;
    }

    .movieLine {
        display: block;
        color: #999;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    .slideshowContainer {
        width: 1200px;
        margin: 0 auto;
    }

    .moviePoster {
        width: 30%;
    }

    .movieInfo {
        align-items: flex-start;
        height: 430px;
        margin-left: 2rem;
    }

    .movieLine {
        display: block;
        color: #999;
        margin: 1rem 0;
        margin-bottom: 2rem;
    }

    .desktopBg {
        background-color: #333;
    }
}